.pio
.vscode
codec
cose
sender
utils
images/sample_*.jpg
images/part1pairs
images/savedImage.ppm
comparator
include/credentials.h
gdbinit
build
.cache
dct_Cb
dct_Cr
dct_Y
algorithm.jpg
encoding.jpg
jpeg.png
